.bottom-bar {
   color: white;
}

.bottom-nav-bar {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5em;
    background-color: #36383f;
}

.bottom-bar .bottom-nav-bar span {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.bottom-bar .bottom-nav-bar a {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    border: 2px solid rgb(122, 119, 119);
    text-decoration: none;
    color: white;
    padding: 37px 0px 37px 0px;
}

.black-footer {
    height: 250px;
    background-color: black;
}

